
header.header.header-2
	.container 
		.header-content
			.header-logo
				img(src="img/logo.png",  alt="logo")
			.header-nav 
				.header-row
					// тестовый блок вариант 2
					.header-info.header-info-2
						.header-info__column
							.header-info__item.item-place
								p Доставка пиццы 
								p Добрянка
							.header-info__item.item-time
								p.info-title Прием заказов:
								p.info-text Пн-чт,вс с 11:00 до 23:00, пт-сб с 11:00 до 23:00
						.header-info__column
							.header-info__item.item-ship
								p 40 минут
							.header-info__item.item-shipTime
								p Среднее время доставки
					.header-contacts
						+social-icons
						.contacts-phone
							a(href="#!") +7(927) 777-77-77
					//===== БЛОК С ИКОНКАМИ ДЛЯ МОБИЛОК =====
					.mobile-user-icons
						.account-block
							//===== БЛОК ПОИСКА
							.account-icon.search-block
								form.search-form
									.search-form-item.header-search-input  
										input(type="text" name="search")
									button.header-search-btn
										+search
							//===== Иконка, если НЕ залогинен
							.account-icon
								.logout-btn
									+logout
							//===== Иконка, если залогинен
							//- .account-icon
							//- 	.login-btn
							//- 		.user-avatar
							//- 			span
							//- 			a(href="#" style="background-image: url(img/avatar.jpg) ")
							//===== Иконка корзины
							.account-icon
								.user-basket
									+cart-icon
									span.basket-value 2
							//===== ГАМБУРГЕР
							.menu-toggle#menu-toggle
								span
					
				.header-row
					ul.header-menu
						li.active
							a(href="#!") Главная
						li.nav-submenu
							a(href="#!") Главная
							ul.submenu-list 
								li 
									a(href="#!") Подменю
								li 
									a(href="#!") Подменю
								li 
									a(href="#!") Подменю
								li 
									a(href="#!") Подменю
						li
							a(href="#!") Главная
						li
							a(href="#!") Главная
						li
							a(href="#!") Главная
					
					//===== БЛОК С ИКОНКАМИ ДЛЯ ДЕСКТОПА =====
					.desktop-user-icons
						.account-block
							//===== БЛОК ПОИСКА =====
							.account-icon.search-block
								form.search-form
									.search-form-item.header-search-input 
										input(type="text" name="search") 
									button.header-search-btn
										+search
							.account-icon
								.logout-btn
									+logout
							//===== Иконка, если залогинен
							//- .account-icon
							//- 	.login-btn
							//- 		.user-avatar
							//- 			span
							//- 			a(href="#" style="background-image: url(img/avatar.jpg) ")
							//===== Иконка корзины
							.account-icon
								.user-basket
									+cart-icon
									span.basket-value 2