//===== FIXED BOTTOM PHONE NUMBER (от 320px до 767px) version-3 =====
.mobile-bottom-fixed 
	a(href="#!")
		span 
			+mobPhone
		span +7 (977) 777-77-77
//===== END FIXED BOTTOM PHONE NUMBER (от 320px до 767px) =====

