//===== MOBILE USER ICONS (от 320px до 767px) version-2 =====
.mobile-user-account
	.header-contacts
		.account-icon.search-block-icon
			+search
		.account-icon
			.logout-btn
				+logout
		.account-icon
			.login-btn
				.user-avatar
					span
					a(href="#" style="background-image: url(img/avatar.jpg) ")
		.account-icon
			.user-basket
				+cart-icon
				span.basket-value 2
		.menu-toggle
			span
//===== END MOBILE USER ICONS (от 320px до 767px) =====
