//===== MOBILE USER ICONS (от 320px до 767px) version-1 =====
.mobile-user-account
	.header-contacts
		+social-icons2
		.account-block
			.account-icon
				.logout-btn
					+logout
			.account-icon
				.login-btn
					.user-avatar
						span
						a(href="#" style="background-image: url(img/avatar.jpg) ")
			.account-icon
				.user-basket
					+cart-icon
					span.basket-value 2
		.menu-toggle
			span
//===== END MOBILE USER ICONS (от 320px до 767px) =====
