/*******ДОПОЛНИТЕЛЬНЫЕ СТИЛИ ДЛЯ HEADER-2*******/ 
.header.header-2  .header-row +.header-row{
	margin-top: 24px;
}
@media(max-width:1199px){
	.header-info.header-info-2{display: none;}
}

.header-info-2{
	display: flex;
	.header-info__item{
		display: flex;
		p+p{
			margin-left: 5px;
		}
	}
	.header-info__item.item-place{
		font-weight: 700;
		font-size: 18px;
		line-height: 1.5;
		p +p {
			color: @accent;
		}
	}
	.header-info__item.item-time{
		font-size: 12px;
		line-height: 19px;
		.info-title{font-weight: 700;}
	}
	.header-info__column +.header-info__column{
		margin-left: 80px;
	}
	.item-ship {
		font-weight: 700;
		margin-right: 5px;
		font-size: 18px;
		line-height: 1.5;
	}
	.item-shipTime{
		font-size: 12px;
		line-height: 19px;
		color: @second;
	}
}
/*===========HEDER SEARCH FORM ============*/
.header-search{
	padding-top: 2px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 45px;
	background: transparent;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	transform: translateY(100%);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s;
	@media(max-width:767px){
		top: calc(~'100vh - 60px');
		bottom: auto;
		transform: translateY(-100%);
	}
	.search-form{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 45px;
		input{
			height: 45px;
		}
	}
}
.header-search.active{
	visibility: visible;
	opacity: 1;
}
.search-form-btn{
	display: flex;
	align-items: center;
	button{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
	}
	button +button {
		margin-left: 35px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: -17px;
			top: 50%;
			transform: translateY(-50%);
			height: 30px;
			width: 1px;
			background-color: #C4C4C4;
			
		}
	}
	@media(max-width:767px){
		button{width: 30px;}
		button +button {
			margin-left: 20px;
			&:before{
				left: -6px;
			}
		}
	}
}
.search-form-item{
	flex-grow:2;
	input{width: 100%;}
	input::placeholder{
		color: #B7B7B7;
		font-size: 14px;
	}
}
/*===========end search block ==========*/

@media(max-width:767px){
	.header-contacts.contacts-mobile-reverse{
		flex-direction: column-reverse;

	}
}
/******* end header 2*******/ 