/*******ДОПОЛНИТЕЛЬНЫЕ СТИЛИ ДЛЯ HEADER-2*******/ 
.header.header-2  .header-row +.header-row{
	margin-top: 24px;
}
@media(max-width:1199px){
	.header-info.header-info-2{display: none;}
}

.header-info-2{
	display: flex;
	.header-info__item{
		display: flex;
		p+p{
			margin-left: 5px;
		}
	}
	.header-info__item.item-place{
		font-weight: 700;
		font-size: 18px;
		line-height: 1.5;
		p +p {
			color: @accent;
		}
	}
	.header-info__item.item-time{
		font-size: 12px;
		line-height: 19px;
		.info-title{font-weight: 700;}
	}
	.header-info__column +.header-info__column{
		margin-left: 80px;
	}
	.item-ship {
		font-weight: 700;
		margin-right: 5px;
	}
	.item-shipTime{
		font-size: 12px;
		line-height: 19px;
		color: @second;
	}
}
/*===========search block ============*/
.search-form{
	position: relative;
}
.search-form-item{
	position: absolute;
	right: 30px;
	top: 0;
	width: 0px;
	transition: .2s;
	z-index: 2;
	background-color: #fff;
	input{
		width: 100%;
		&::placeholder{
			font-size: 14px;
			color: #c4c4c4;
		}
	}
}
.search-form-item.active{
	width: 130px;
	border-bottom: 1px solid @second;
}
/*===========end search block ==========*/
/******* end header 2*******/ 