//========== desktop-header-menu ==========
ul.header-menu
	li.active
		a(href="#!") Главная
	li.nav-submenu
		a(href="#!") Главная
		ul.submenu-list 
			li 
				a(href="#!") Подменю
			li 
				a(href="#!") Подменю
			li 
				a(href="#!") Подменю
			li 
				a(href="#!") Подменю
	li
		a(href="#!") Главная
	li
		a(href="#!") Главная
	li
		a(href="#!") Главная
//========== end desktop-header-menu ==========