mixin times 
	<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M7.64888 6.5L13 1.14888L11.8511 0L6.5 5.35113L1.14888 0L0 1.14888L5.35113 6.5L0 11.8511L1.14888 13L6.5 7.64888L11.8511 13L13 11.8511L7.64888 6.5Z" fill="#D7001A"/>
		</svg>
mixin mobPhone 
	<svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M9.9 0H1.1C0.493226 0.00180332 0.00178211 0.499098 0 1.1131V14.4702C0.00178211 15.0842 0.493226 15.5815 1.1 15.5833H9.9C10.5068 15.5815 10.9982 15.0842 11 14.4702V1.1131C10.9982 0.499098 10.5068 0.00180332 9.9 0ZM9.89996 1.11316V2.22625H1.09996V1.11316H9.89996ZM9.89996 3.33925V12.244H1.09996V3.33925H9.89996ZM1.09996 14.4703V13.3572H9.89996V14.4703H1.09996Z" fill="#1f1f1f"/>
		</svg>