mixin times 
	<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M7.64888 6.5L13 1.14888L11.8511 0L6.5 5.35113L1.14888 0L0 1.14888L5.35113 6.5L0 11.8511L1.14888 13L6.5 7.64888L11.8511 13L13 11.8511L7.64888 6.5Z" fill="#D7001A"/>
		</svg>